:root {
    --background: #ececec;
    --primary: #f53737;
    --primary-hover: #bb2e2e;
    --text: #131313;
    --gray: #b6b6b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    color: var(--text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.header-title {
    color: var(--primary);
}

.header-stats {
    display: flex;
    gap: 2rem;
}

.header-streak,
.header-best {
    color: var(--text);
    font-weight: 500;
}

/*Game*/

.game-container {
    width: 100%;
    height: 70svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.game-solve {
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.game-task {
    user-select: none;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.game-input {
    padding: 1rem;
    border: none;
    margin-bottom: 8px;
    transition: outline 0.2s ease;
}

.game-try {
    background-color: var(--primary);
    border: none;
    color: var(--background);
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.game-try:hover {
    background-color: var(--primary-hover);
}

/*Incorrect and overlay*/

.overlay {
    display: none;
    pointer-events: none;
    position: fixed;
    background-color: #000000af;
    inset: 0;
    z-index: 9;
    height: 100%;
}
.overlay.show {
    display: block;
    pointer-events: all;
}

.incorrect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: none;
    padding: 2rem 4rem;
    align-items: center;
    background-color: var(--primary);
    color: var(--background);
    display: none;
    flex-direction: column;
    gap: 3rem;
    border-radius: 15px;
}

.incorrect.show {
    display: flex;
}

.incorrect-reset {
    border: none;
    background-color: var(--background);
    padding: 0.5rem;
    font-weight: 600;
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}