:root {
    --background: #ececec;
    --primary: #f53737;
    --primary-hover: #bb2e2e;
    --text: #131313;
    --gray: #b6b6b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: "Inter", sans-serif;
    color: var(--text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
}

.header-title {
    color: var(--primary);
}

.header-stats {
    display: flex;
    gap: 2rem;
}

.header-streak,
.header-best {
    color: var(--text);
    font-weight: 500;
}

/*Game*/

.game-container {
    width: 100%;
    height: 70svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.game-solve {
    text-align: center;
    margin-bottom: 1rem;
    user-select: none;
}

.game-task {
    user-select: none;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.game-input {
    padding: 1rem;
    border: none;
    margin-bottom: 8px;
    transition: outline 0.2s ease;
}

.game-try {
    background-color: var(--primary);
    border: none;
    color: var(--background);
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.game-try:hover {
    background-color: var(--primary-hover);
}