:root {
    --background: #ececec;
    --primary: #f53737;
    --primary-hover: #bb2e2e;
    --secondary: #fa6464;
    --text: #131313;
    --gray: #b6b6b6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: var(--text);
    min-height: 100vh;
    background-color: var(--background);
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.288) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 0, 0, 0.288) 1px, transparent 1px);
    background-size: 40px 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/*Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.header-title {
    color: var(--primary);
}

.header-stats {
    display: flex;
    gap: 2rem;
    border: 1px solid var(--text);
    border-radius: 15px;
    padding: 0.5rem 2rem;
    background-color: rgba(179, 14, 14, 0.301);
}

.header-streak,
.header-best {
    color: var(--text);
    font-weight: 500;
}

/*Game*/

.game-container {
    width: 100%;
    min-height: 70svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 2.5rem;
    border-radius: 15px;
    background-color: var(--secondary);
    box-shadow: 
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 12px 30px rgba(0, 0, 0, 0.15);
}

.game-task {
    user-select: none;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
}

.game-input {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    outline: none;
    padding: 0.75rem 0;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 600;
    color: black;
    text-align: center;
}

.game-input:focus {
    border-bottom-color: rgba(0,0,0,0.6);
}

.game-input::placeholder {
    color: rgba(0,0,0,0.3);
    font-weight: 400;
}

.game-try {
    background-color: white;
    border: none;
    color: var(--secondary);
    font-family: inherit;
    font-weight: 700;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.game-try:hover {
    background-color: var(--text);
    color: white;
}

/*Incorrect and overlay*/

.overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    inset: 0;
    z-index: 9;
    transition: opacity 0.2s ease;
}

.overlay.show {
    opacity: 1;
    pointer-events: all;
}

.incorrect {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: none;
    padding: 2rem 4rem;
    align-items: center;
    background-color: var(--primary);
    color: var(--background);
    flex-direction: column;
    display: flex;
    gap: 3rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -60%);
    transition: opacity 0.2s ease, transform 0.2s ease;
    border-radius: 15px;
}

.incorrect.show {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

.incorrect-reset {
    border: none;
    background-color: var(--background);
    padding: 0.5rem;
    font-weight: 600;
    font-family: inherit;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}